public class $bean.name
{
    public ${bean.name}()
    {
        // default constructor
    }
#foreach($property in $bean.properties )
#propertyTemplate($property)   
#end
}


#macro(propertyTemplate $property)

    /*
     * Property: $property.name
     */
    private ${helper.getJavaTypeName($property.type)} $property.name;
#if($property.writable)  
    public void set${helper.getPropertyName($property.name)}(${helper.getJavaTypeName($property.type)} $property.name)
    {
    	this.$property.name = $property.name;
    }
#end    
#if($property.readable)
    public ${helper.getJavaTypeName($property.type)} get${helper.getPropertyName($property.name)}()
    {
    	return this.${property.name};
    }    
#end 
#end
