/*
 * This code is automatic generated DON'T CHANGE IT!!
 */
 
#set($pkgName = ${package.getName()})
#set($iface = ${package.getInterface()})
#set($ifaceName = ${iface.getName()})
#set($paramCounter = 0)
#set($loopCounter = 0)

package $pkgName;

## Check if the Interface is public or private
#if($iface.public)
public interface $ifaceName 
#else
interface $ifaceName 
#end
{
## Loop over Interface Methods
#foreach($op in ${iface.getOperations()})
#set($paramCounter = ${op.getParameters().size()})
	${op.getType().getName()} ${op.getName()}(#foreach ($param in $op.parameters)#set($loopCounter=$loopCounter+1)${param.getType().getName()} ${param.getName()}#if($paramCounter > $loopCounter), #set($paramCounter = $paramCounter-1)#end#end);		
#end
}
